version: '2'
services:
  js:
    build: .
    ports:
      - "3000:3000"
    links:
      - db
    volumes:
      - ./updata:/usr/src/app/uploaded
  db:
    image: mysql
    ports:
      - "12412:3306"
    environment:
      MYSQL_DATABASE: SPARTA
      MYSQL_ROOT_PASSWORD: ""
      MYSQL_ALLOW_EMPTY_PASSWORD: "yes"
    volumes:
      - ./dbdata:/var/lib/mysql
      - ./init:/docker-entrypoint-initdb.d
