extends layout

block content
  a(href="../../list_peserta/") Back
  img(src=data_peserta.profilepicture,width=300)
  table.table
    each val,index in data_peserta
      -if(index!="profilepicture")
        tr
          td= index
          td= val
