extends layout
block script
  script(src='/bower_components/jquery-ui/jquery-ui.min.js')
  script(src="/javascripts/days/form.js")

block content
 a(href="../") Back
 h1 Tambahkan Day
 form(action="./submit/",method="POST")
   .form-group
     label(for="nama") Nama 
     input.form-control(type="text",name="name", placeholder="ex. Day Zero",maxlength=200)
   .form-group
      label(for="date") Tanggal
      input.form-control#daydate(type="text",name="date",pattern="[0-9]{4}-(0[1-9]|1[012])-(0[1-9]|1[0-9]|2[0-9]|3[01])")
   .form-group
      input.form-control(type="submit")
 .alert.alert-warning Edit is not available
 h1 List Days
 .alert.alert-warning Delete will also delete attendance
 table.table
   tr
      td id
      td nama
      td tanggal
   each day in list_days
     tr
       td= day.id
       td= day.name
       td= day.date
       td
          a(href="./delete/?id="+day.id) delete
          span 
          a(href="../attendance/?id="+day.id) edit attendance
