doctype html
html
  head
    title= title
    meta(charset="utf-8")
    block stylesheet
    link(rel='stylesheet', href='/bower_components/bootstrap/dist/css/bootstrap.min.css')
    link(rel="stylesheet",href="/bower_components/jquery-ui/themes/smoothness/jquery-ui.css")
    link(rel='stylesheet', href='/stylesheets/style.css')
    script(src='/bower_components/jquery/dist/jquery.min.js')
    script(src='/bower_components/bootstrap/dist/js/bootstrap.min.js')
    block script
  body
    .container-fluid
      .col-md-4
        img.logo(src="/assets/Copy of SPARTA 2015.jpg")
      .col-md-6.main
        block content