extends layout

block content
  a(href="../") back
  table.table
    tr
      td NIM
      td Nama
      td Score
    each peserta in list
      tr
        td= peserta.NIM
        td= peserta.fullname
        td= peserta.score
        td
          a(href="../menilai/" + peserta.NIM + "/") Edit
          span 
          a(href="../data/" + peserta.NIM + "/") Lihat Data