extends layout

block content
  .col-xs-2
  .col-xs-8
    form(action="",method="POST")
      center.aqua.bigblue LOG IN
      center.aqua.bigorange NIM
      input.form-control(placeholder="NIM", name="nim",maxlength=8)
      center.aqua.bigorange PASSWORD
      input.form-control(placeholder="password", type="password", name="password")
      br
      input.form-control(type="submit",value="Login")
      
      span Not yet registered ? 
      a(href="/register/") Click here