extends layout

block content
  div(class="container")
    form(action="",method="POST")
      input.form-control(placeholder="NIM", name="nim")
      input.form-control(placeholder="password", type="password", name="password")
      input.form-control(type="submit",value="Login")