extends layout

block content
   a(href="../") Back
   h1 Tambahkan Tugas
   form(action="./submit/",method="POST")
     label(name="nama")
     input(type="text",name="nama",maxlength=200)
     input(type="submit")
   h1 List Tugas

   .alert.alert-warning Delete tugas berarti semua penilaian ikut terhapus
   table(class="table")
     tr
        td id
        td nama
     each tugas in list_tugas
       tr
         td= tugas.id
         td= tugas.nama_tugas 
         td
            a(href="./delete/?id="+tugas.id) delete

