@font-face {
  font-family: 'Aqua';
  src: url('/fonts/aqua.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/aqua.woff') format('truetype'); /* Safari, Android, iOS */
}

.logo {
  width : 80%;
  margin : 0 auto;
  display : block;
}

.aqua {
  font-family : Aqua;
}
.big-blue {
  color : #213467;
  font-size : 4em;
  font-style : italic;
}
.med-blue {
  color : #213467;
  font-size : 2em;
  font-style : italic;
}
.big-orange {
  color : #FDB930;
  padding-top : 0.5em;
  font-size : 2em;
  font-style : italic;
}
.login-button{
  background-color : #213467;
  color : white;
  font-family : Aqua;
  font-style : italic;
  font-size : 2em;
  height : 1.8em;
}
.profile-button {
  display : block;
  background-color : #213467;
  color : white;
  font-family : Aqua;
  font-style : italic;
  font-size : 1em;
  padding : 10px;
  -moz-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  text-align : center;
}

.main {
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  background-color : #FFFFFF;
  padding-top : 60px; 
  min-height : 100vh;
  padding-bottom : 100px;
}

body {
  background-color : #FDB930
}
.profile_picture {
  width : 100%;
}
.profile_picture_container {
  max-width : 200px;
}
@media (min-width: 992px) {
  .main {
    margin-top : 100px;
  }
  .logo {
    margin-top : 100px;

  }
}
