@font-face {
  font-family: 'Aqua';
  src: url('/fonts/aqua.woff') format('woff'), /* Pretty Modern Browsers */
       url('/fonts/aqua.woff') format('truetype'); /* Safari, Android, iOS */
}

.logo {
  width : 80%;
  margin : 0 auto;
  display : block;
  margin-top : 100px;
}

.aqua {
  font-family : Aqua;
}
.bigblue {
  color : blue;
  font-size : 4em;
  font-style : italic;
}
.bigorange {
  color : #FDB930;
  padding-top : 0.5em;
  font-size : 2em;
  font-style : italic;
}
.main {
  -webkit-border-radius: 10px 10px 0px 0px;
  -moz-border-radius: 10px 10px 0px 0px;
  border-radius: 10px 10px 0px 0px;
  background-color : #FFFFFF;
  margin-top : 100px;
  padding-top : 60px; 
  min-height : 100vh;
  padding-bottom : 100px;
}

body {
  background-color : #FDB930
}